.nav_menu_container ul li {
    list-style-type: none;
}

.logo_container img {
    height: 50px;
}

.page-heading-container {
    padding-left: 27px;
    padding-right: 27px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"], select {
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 1px solid #dee2e6 !important   ;
    /* border-bottom: 1px solid blue; */
}
.form-control, textarea.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #dee2e6;
    background-color: transparent;
}
.form-control:focus, .form-select:focus {
    box-shadow: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid blue !important;
    border-radius: 0;
}

/* modal code start */
.activity-logs-modal {
    min-width: 900px;
}

/* modal code end */


ul.dropdown-menu.dropdown-menu-end {
    right: 0;
    left: auto;
}